body {
  margin: 0;
  margin-top: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(76, 145, 149);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  background-color: none !important;
}

table > thead {
  background-color: transparent !important;
}
table > tbody {
  background-color: none !important;
}

h1 {
  font-size: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bakbak One", cursive;
}

.thcontent {
  width: 200px !important;
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.14);
  padding: 10px;
  border-radius: 3px;
}
::placeholder {
  color: rgba(0, 0, 0, 0.24);
  opacity: 1; /* Firefox */
}
input:focus::placeholder {
  color: transparent;
}

input {
  color: white;
  font-family: "Bakbak One", cursive;
}
